bandit
black
bootstrap-flask
factory-boy
flake8
flake8
flake8-docstrings
flake8-isort
flask-login
flask-sqlalchemy
flask_wtf
isort
mccabe
pgcli
pre-commit
pyt
recommonmark
solar_theme
sphinx
sphinxcontrib-httpdomain